[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
basemap = "==1.3.4"
matplotlib = "==3.5.3"
numpy = "==1.23.3"
pandas = "==1.4.4"

[dev-packages]

[requires]
python_version = "3.8"
