[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
basemap = "==1.4.1"
matplotlib = "==3.7.2"
numpy = "==1.24.3"
pandas = "==2.2.2"
numpy-stl = "==3.0.1"
numpy-quaternion = "==2023.0.3"
python-utils = "==3.5.2"

[dev-packages]

[requires]
python_version = "3.8"
