# CMake and VS directories
CMakeBuilds/
.vs/
.vscode/
src/.vscode/


# Docker
build/

# Log files
**/logs/

# CSIPCE
scripts/tmp_cspice/

# Executables
*.exe
*.out
*.app

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Python
__pycache__/

# Setting files
settings/environment/cspice
settings/environment/space_weather
settings/environment/gravity_field
settings/environment/star_catalogue
