name: Build

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - 'ExtLibraries/**'
      - 'CMakeLists.txt'
      - 'common.cmake'
      - 'CMakeSettings.json'
      - 'src/**'

env:
  # datasource=github-releases depName=ut-issl/c2a-core
  C2A_CORE_VERSION: v3.6.0

jobs:
  build_s2e_win:
    name: Build on Windows VS2022
    # VS2022 を使うため
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        use_c2a: ['USE_C2A=OFF', 'USE_C2A=ON']

    steps:
      - uses: actions/checkout@v3

      - name: checkout C2A core
        if: contains(matrix.use_c2a, 'ON')
        uses: actions/checkout@v3
        with:
          path: c2a-core
          repository: ut-issl/c2a-core
          ref: ${{ env.C2A_CORE_VERSION }}
          fetch-depth: 1

      - name: setup C2A
        if: contains(matrix.use_c2a, 'ON')
        shell: cmd
        working-directory: c2a-core
        run: setup.bat

      - name: Configure build for x86
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64_x86

      - name: show tools version
        shell: powershell
        run: |
          cmake --version

      - name: cache extlib
        id: cache-extlib
        uses: actions/cache@v3
        with:
          key: extlib-${{ runner.os }}-${{ hashFiles('./ExtLibraries/**') }}
          path: ./ExtLibraries

      - name: build extlib
        if: steps.cache-extlib.outputs.cache-hit != 'true'
        shell: powershell
        working-directory: ./ExtLibraries
        run: |
          $extlib_dir=(pwd).Path
          cmake -G "Visual Studio 17 2022" -A Win32 -DCMAKE_CONFIGURATION_TYPES:STRING="Debug" -DEXT_LIB_DIR="${extlib_dir}"
          cmake --build .
      - name: install extlib
        if: steps.cache-extlib.outputs.cache-hit != 'true'
        shell: powershell
        working-directory: ./ExtLibraries
        run: |
          cmake --install .
      - name: check extlib
        shell: powershell
        working-directory: ./ExtLibraries
        run: |
          ls cspice
          ls cspice/cspice_msvs/lib
          ls cspice/include
          ls cspice/generic_kernels
          ls nrlmsise00
          ls nrlmsise00/table
          ls nrlmsise00/lib
          ls nrlmsise00/lib/libnrlmsise00.lib
          ls nrlmsise00/src

      - name: build
        shell: cmd
        run: |
          cl.exe
          cmake -G "Visual Studio 17 2022" -A Win32 -DCMAKE_CONFIGURATION_TYPES:STRING="Debug" -DEXT_LIB_DIR=./ExtLibraries -DFLIGHT_SW_DIR=./c2a-core -DC2A_NAME=Examples/minimum_user -D${{ matrix.use_c2a }}
          cmake --build .

  build_s2e_linux:
    name: Build on Linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        compiler: ['gcc-11 g++-11', 'clang clang++']
        build_bit: ['BUILD_64BIT=OFF', 'BUILD_64BIT=ON']

    steps:
      - uses: actions/checkout@v3

      - name: set compiler
        id: compiler
        run: |
          COMPILER="${{ matrix.compiler }}"
          read -r -a COMPILER <<< "$COMPILER"
          echo "::set-output name=CC::${COMPILER[0]}"
          echo "::set-output name=CXX::${COMPILER[1]}"

      - name: install deps
        run: |
          # FIXME: temporary install gcc-11 in ubuntu:focal
          if [[ "${{ steps.compiler.outputs.CC }}" =~ "gcc-11" ]]; then
            sudo add-apt-repository ppa:ubuntu-toolchain-r/test
          fi
          sudo apt-get update
          if [[ "${{ steps.compiler.outputs.CC }}" =~ "gcc" ]]; then
            sudo apt-get install -y ${{ steps.compiler.outputs.CC }}-multilib \
                                    ${{ steps.compiler.outputs.CXX }}-multilib
          else
            sudo apt-get install -y gcc-multilib g++-multilib
          fi

      - name: show tools version
        run: |
          cmake --version
          ${{ steps.compiler.outputs.CC  }} --version
          ${{ steps.compiler.outputs.CXX }} --version

      - name: cache extlib
        id: cache-extlib
        uses: actions/cache@v3
        with:
          key: extlib-${{ runner.os }}-${{ hashFiles('./ExtLibraries/**') }}-${{ matrix.build_bit }}
          path: ExtLibraries

      - name: build extlib
        if: steps.cache-extlib.outputs.cache-hit != 'true'
        working-directory: ./ExtLibraries
        run: |
          cmake . -DEXT_LIB_DIR="$(pwd)" -D${{ matrix.build_bit }}
          cmake --build .
      - name: install extlib
        if: steps.cache-extlib.outputs.cache-hit != 'true'
        working-directory: ./ExtLibraries
        run: |
          cmake --install .
      - name: check extlib
        working-directory: ./ExtLibraries
        run: |
          ls cspice
          ls cspice/cspice_unix*
          ls cspice/include
          ls cspice/generic_kernels
          ls nrlmsise00
          ls nrlmsise00/table
          ls nrlmsise00/lib*
          ls nrlmsise00/lib*/libnrlmsise00.a
          ls nrlmsise00/src

      - name: build
        env:
          CC:  ${{ steps.compiler.outputs.CC  }}
          CXX: ${{ steps.compiler.outputs.CXX }}
        run: |
          cmake . -DEXT_LIB_DIR=./ExtLibraries -D${{ matrix.build_bit }}
          cmake --build .

      - name: fix simulation config
        working-directory: ./data/SampleSat/ini
        run: |
          find . -type f -name '*.ini' -exec sed -i 's/..\/..\/..\/ExtLibraries/..\/..\/ExtLibraries/g' {} \;

      - name: run simulation(SampleSat)
        working-directory: ./data/SampleSat
        run: |
          ../../S2E
      - name: generate graph
        working-directory: ./data/SampleSat
        run: |
          sudo apt-get install -y gnuplot
          pip3 install yq
          LOG=$(ls logs/logs_*/*.csv)
          echo "plot $LOG"
          ./gen_graph.sh "${LOG}"
          ls
          ls ./imgs

      - name: upload imgs
        id: upload_imgs
        working-directory: ./data/SampleSat
        if: contains(matrix.compiler, 'clang') && contains(matrix.build_bit, 'OFF')
        run: |
          IMG_URL=$(curl -sL -X POST upload.gyazo.com/upload.cgi -F "imagedata=@imgs/position.png")
          echo "gyazo url: ${IMG_URL}"
          IMG_EMBED_URL="${IMG_URL//gyazo/i.gyazo}.png"
          echo "gyazo embed url: ${IMG_EMBED_URL}"
          echo "::set-output name=IMG_EMBED_URL::${IMG_EMBED_URL}"

      - name: comment imgs
        uses: actions/github-script@v6.1.0
        with:
          script: |
            const output = `## \`position.png\`
            ![position](${{ steps.upload_imgs.outputs.IMG_EMBED_URL }})`;
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: output
            })
